header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
footer {
    grid-area: footer;
}

.art { 
    grid-area: art;
}







body {
    background-image: linear-gradient(to bottom, rgb(10, 10, 10), rgb(34, 34, 34));
    color: white;
    grid-gap: 0;
    grid-template-areas:
        "header"
        "nav"
        "art"
        "footer";
    max-width: 60em;
    margin: 0 auto;
}

main {
    background-image: linear-gradient(to bottom, rgb(207, 159, 87), rgb(207, 159, 87));
}