header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
footer {
    grid-area: footer;
}

.art { 
    grid-area: art;
}

body {
    background-color: gold;
    color: white;
    grid-gap: 0;
    grid-template-areas:
        "header"
        "nav"
        "art"
        "footer";
    font-family: 'Roboto', sans-serif;
    max-width: 70em;
    margin:auto;
}


footer { 
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    background-color: rgb(73, 73, 73);
    padding: 7px;
    margin-top:20px; 
}

.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0;
}

header { 
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-radius: 15px;
    background-color: rgb(73, 73, 73);
    margin-top:20px;
    margin-bottom:20px;  

}

h1.toptext {
    font-size: 48px;
}


header a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.titill {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.topnav {
    padding: 7px;
}

.art {
    border-radius: 15px;
    background-color: rgb(73, 73, 73);
    padding: 7px;
}

svg {
    padding-top: 32px;
    padding-left: 20px;
}

.bottom {
    text-align: right;
    padding-right: 40px;
    padding-top: 13px;
}

p.ar {
    text-align: right;
    color: black;
}

footer a{
    color: white;
}

    