* {
    box-sizing: border-box;
}

/* grid area */
header {
    grid-area: header;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
}
/* inní content */

.a1 {
    grid-area: aside1;
}
.a2 {
    grid-area: aside2;
}
.art {
    grid: article;
}

/* grid template area */
body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        "header"
        "topnav"
        "content"
        "footer";
    max-width: 60em;
    margin: 0 auto;
    background-image: url("bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: grid;
    background-color: rgb(255, 253, 227);
    grid-gap: 1em;
    grid-template-areas: 
        "article aside1"
        "aside2 aside1";
    grid-template-columns: 3fr 1fr;    
}
.topmenu, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid green;
    list-style-type: none;
    padding: .5em;
    background-color: grey;
}


