body {
    font-family: Impact;
    max-width: 50em;
    border: 2px solid rgb(85, 4, 190);  
    padding: 2em;
    margin: 2em auto; /* top+bottonm=2em Left+Right=Auto */
}
h1 {
    color: green;
    text-align: center;
}
h3 {
    color: black;
    text-align: center;
}
a {
    color: blue;

}
a:visited {
    color: blueviolet
}
a:hover,
a:active {
    color: green;
}
